@import "colors";
@import "fonts";

body {
    font-family: $font-stack;
    line-height: 1.5;
    margin: auto;
    max-width: 800px;
    padding: 1em;

    hr {
        border-style: solid;
        color: $chinese-silver;
    }

    a {
        color: $azure;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }

    header {
        nav {
            ul {
                padding: 0;
                text-align: center;
                li {
                    display: inline-block;
                    margin: 0 5px;
                    a {
                        background-color: $cultured;
                        border-radius: 5px;
                        padding: 5px 9px;
                        &:hover, &.active {
                            background-color: $azure;
                            color: $cultured;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    main {
        div#content-home {
            text-align: center;
            img {
                border-radius: 5px;
                height: auto;
                width: 20%;
            }
        }
        div#content-404 {
            text-align: center;
        }
    }

    footer {
        text-align: center;
    }
}
